<!--<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="app">
    <form>
      <input type="button" id="btn_camera" value="Abrir Camera" (click)="click()" />
    </form>
  </div>
  <div id="container" (click)="click()">
    <strong>Ready to create an app?</strong>
    <p><a>Start with Ionic UI Componentaaaaaaaaaaaas</a></p>
  </div>
</ion-content>
-->
<ion-content>
  <img class="arrow-left " src="../../assets/logIn/arrow-left.svg">
  <div>
    <div id="header">
      <div class="left-vector"></div>
      <div class="avatar-container">
        <img src="../../assets/logIn/mobile--user.svg">
      </div>
      <div class="rigth-vector"></div>
    </div>
    <div>
      <ion-label class="screen-title">Inicio de sesión</ion-label>
    </div>
  </div>
  <div class="input-container">
    <div class="text-input-container">
      <ion-item>
        <ion-label position="floating">Teléfono celular</ion-label>
        <ion-input type="tel" [(ngModel)]="phoneNumber"></ion-input>
      </ion-item>
    </div>
    <ion-label>Ingrese el teléfono que está usando</ion-label>
  </div>
  <div class="input-container">
    <div class="text-input-container">
      <ion-item>
        <ion-label position="floating">PIN</ion-label>
        <ion-input type="password" [(ngModel)]="password"></ion-input>
      </ion-item>
    </div>
    <ion-label>Ingresa el PIN registrado al crear su cuenta</ion-label>
  </div>

  <div id="button-container">
    <div class="generic-button" (click)="sendInformation()">
      <ion-label class="generic-button-text">Continuar</ion-label>
    </div>
    <ion-label>
      Ingresa todos los datos son obligatorios para continuar
    </ion-label>
  </div>

</ion-content>